*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  color: #00d5b1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header-title{
  font-size: 72px;
  text-align: center;
}

.current-turn{
  font-size: 36px;
  text-align: center;
}

.board{
  display: grid;
  grid: repeat(3, 150px)/ repeat(3, 150px);
  place-content: center;
  border: 2px solid #00473b;
  width: min-content;
}
.cell{
  border: 1px solid #00473b;
}

/* .cell:nth-child(2n+1){
  background-color: #00d5b1;
}
.cell:nth-child(2n+2){
  background-color: rgb(36, 36, 36);
} */