*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header-title{
  color: #00d5b1;
  font-size: 72px;
  text-align: center;
}

.board{
  display: grid;
  grid: repeat(3, 150px)/ repeat(3, 150px);
  place-content: center;
  border: 1px solid #04d482;
  width: min-content;
}
.cell{
  border: 1px solid #04d482;
}

/* .cell:nth-child(2n+1){
  background-color: #d4046f;
}
.cell:nth-child(2n+2){
  background-color: #d46c04;
} */