*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  color: #faff6f;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.header-title{
  font-size: 72px;
  text-align: center;
}

.current-turn{
  font-size: 36px;
  text-align: center;
}

.board{
  display: grid;
  grid: repeat(3, 150px)/ repeat(3, 150px);
  place-content: center;
  border: 2px solid #d6c100;
  width: min-content;
}
.cell{
  border: 2px solid #d6c100;
}

form{
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.names{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.first-name,
.second-name{
  display: flex;
  flex-direction: column;
}

input{
  background-color: rgb(58, 57, 57);
  border-radius: 10px;
  height: max-content;
  font-size: 24px;
}

input[type='text']{
  padding-left: 5px;
}

#first-label, 
#first-player{
  color: #00d5b1;
}

#second-label,
#second-player{
  color: #fe5b5a;
}
.buttons {
  display: flex;
  justify-items: left;
  gap: 20px;
}

.buttons > input{
  font-size: 24px;
  color: #faff6f;
  height: min-content;
  width: min-content;
  padding: 5px
}


